@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyView</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div class="text-center">       
        <h3>Мы собираемся устроить вечеринку!</h3>
        <h4>И вы приглашены!</h4>        
        <a class="btn btn-primary" asp-action="RsvpForm">Перейти к форме</a>
    </div>
</body>
</html>