@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyView</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World (from view)
        <p>
            Мы собираемся устроить вечеринку. <br/>
            (TODO улучшить. Добавить картинку или еще чего)
        </p>
    </div>
</body>
</html>