@model asp_core_mvc.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма приглашения</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <form asp-action="RsvpForm" method="post">
       <div asp-validation-summary="All"></div>
        <p>
            <label asp-for="Name">Ваше имя:</label>
            <input asp-for="Name"/>
        </p>
        <p>
            <label asp-for="Email">Ваша почта:</label>
            <input asp-for="Email"/>
        </p>       
        <p>
            <label asp-for="Phone">Ваш телефон:</label>
            <input asp-for="Phone"/>
        </p> 
        <p>
            <label>Вы придете?</label>
            <select asp-for="WillAttend">
                <option value="">Выберите вариант</option>
                <option value="true">Да, я приду</option>
                <option value="false">Нет, я не приду</option>
            </select>
        </p>             
        <button type="submit">Подтвердить</button>
    </form>
</body>
</html>